# Privy
NEXT_PUBLIC_PRIVY_APP_ID=

# Database (Supabase Postgres via Prisma)
DATABASE_URL=postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres

# Contract
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=
NEXT_PUBLIC_MONAD_RPC=https://testnet-rpc.monad.xyz

# Backend signer (same wallet as VERIFIER in contract)
SIGNER_PRIVATE_KEY=

# Pyth Entropy
PYTH_ENTROPY_ADDRESS=0x825c0390f379c631f3cf11a82a37d20bddf93c07

# Base URL for internal API calls from WS server
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# WebSocket server URL (Render). Omit for same-origin WS in custom server mode.
# NEXT_PUBLIC_WS_URL=wss://your-ws-server.onrender.com



NEXT_PUBLIC_PRIVY_APP_ID=cmna0uafq00ce0cikwkznvtlf
NEXT_PUBLIC_SUPABASE_URL=https://oaccrzwrhpeeoybdbvmn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hY2NyendyaHBlZW95YmRidm1uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2ODA3NTUsImV4cCI6MjA5MDI1Njc1NX0.d6A9RZTP5gRsWJNbwh9ruZ7kzP2bJnmzZlrnPyObGF8
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9hY2NyendyaHBlZW95YmRidm1uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY4MDc1NSwiZXhwIjoyMDkwMjU2NzU1fQ.uVYY7BXmNJlc5WZ0qZ83Tthrd1bdDPWoJh9uOayQcSY
NEXT_PUBLIC_CONTRACT_ADDRESS=0x8e3dA6E6f912877719F86de5Ab8efdE7E71412b4
NEXT_PUBLIC_USDC_ADDRESS=0x534b2f3A21130d7a60830c2Df862319e593943A3
NEXT_PUBLIC_MONAD_RPC=https://monad-testnet.g.alchemy.com/v2/oD0jK20i0zKUqkeB7RThf
SIGNER_PRIVATE_KEY=3ded52b054ca195e00f9559733f08e8cc9f281232668eed8ffde36f253d0b23e
PYTH_ENTROPY_ADDRESS=0x825c0390f379c631f3cf11a82a37d20bddf93c07
DATABASE_URL=postgresql://postgres.oaccrzwrhpeeoybdbvmn:l6KRARRsKMPZfqYG@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:l6KRARRsKMPZfqYG@db.oaccrzwrhpeeoybdbvmn.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.oaccrzwrhpeeoybdbvmn:l6KRARRsKMPZfqYG@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true


